body {
    background-color: black;
    color: white;
    text-align: center;
}

header .mainHeader {
    font: normal 50px Verdana ;
}

header {
    font: 300 42px Verdana;
}

link {
    color: aquamarine;
    font-size: 16px;
}

img {
    display: block;
}

footer {
    text-align: right;
    color: gray;
}